
body{
  background-color: #363636;
  margin:20px;
  color: rgb(187, 177, 164);
}

img{
  float: left;
  margin-bottom: 50px;
  margin-left: 300px;
  
}

nav>ul>li{
  display:inline-block;
  margin-top:20px;
  
}

td{
  padding:15px;
  border: rgb(187, 177, 164) solid 3px;
}

h1{
  position: absolute;
  top: 155px;
  left: 520px;
  font-size: 40px;
  font-family: cursive;
  font-weight: bold;
  color:rgb(235, 230, 223);
  letter-spacing: 4px;
  
}

table{
  margin-bottom: 60px;
  margin-top:20px;
}

td:first-child{
  color: rgb(235, 230, 223); 
}

#times{
  color:rgb(235, 230, 223);
}

legend{
  font-size: 30px;
  margin-bottom:20px;
  padding:20px;
}

label{
  display: block;
  margin:5px;
  margin-left: 30px;
}

input{
  background-color: transparent;
  margin-left: 10px;
  border: solid 2px rgb(235, 230, 223);
  color: 
}
#button{
  color:rgb(235, 230, 223);
  width: 100px;
  height:30px;
  margin-left:30px;
  margin-bottom: 30px;
}
fieldset{
  margin-top:40px;
  border: solid 2px rgb(235, 230, 223);
  width:1400px;
}







